

.calculator-box, .result-box {
    background-color: white;
    background-clip: padding-box;
    text-align: center;
    padding: 0px 15px 15px 15px;
}

.result-box {
    display: none;
    top: 40px;
    /*height: 620px;*/
}

.result-box, .result-box-inner {
    font-size: 42px;
}

.calculator-box h1, .result-box-inner h1 {
    font-weight: bold;
    margin-bottom: 0;
}

.result-box h2, .result-box-inner h2  {
    font-weight: bold;
    margin-bottom: 0;
}

.result-box h4, .result-box-inner h4 {
    font-weight: bold;
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
    color: #035458;
}

.calculator-box h3 {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    margin-bottom: 30px;
}

.result-box hr, .result-box-inner hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.result-box .small-info, .result-box-inner .small-info {
    font-size: 12px;
    color: #b1b3b2;
}

.result-box .orange-col, .result-box-inner .orange-col {
    background: rgb(245,130,33);
    background: -webkit-linear-gradient(left, rgba(245,130,33,1) 0%,rgba(239,182,27,1) 80%);
    background: linear-gradient(to right, rgba(245,130,33,1) 0%,rgba(239,182,27,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58221', endColorstr='#efb61b',GradientType=1 );

    height: 45px;
    margin-bottom: 15px;
}

.result-box .green-col, .result-box-inner .green-col {
    background: rgb(23,87,91);
    background: -webkit-linear-gradient(left,  rgba(23,87,91,1) 0%,rgba(41,135,141,1) 80%,rgba(41,135,141,1) 80%);
    background: linear-gradient(to right,  rgba(23,87,91,1) 0%,rgba(41,135,141,1) 80%,rgba(41,135,141,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17575b', endColorstr='#29878d',GradientType=1 );


    height: 45px;
}

.result-box input, .result-box-inner input {
    margin-bottom: 7px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
    padding: 5px;
}

.calculator-box .btn-block, .result-box .btn-block, .result-box-inner .btn-block {
    height: 60px;
    border-radius: 0;
    max-width: 290px;
    margin: 0 auto;
}



.result-box .btn-block, .result-box-inner .btn-block {
    height: 50px;
    margin-bottom: 0px;
}

.calculator-box p.info {
    margin-top:20px;
    font-size: 12px;
    color: #8b8f97;
    margin-right: auto;
    margin-left: auto;
}

.result-box p, .result-box-inner p {
    font-size: 14px;
    color: #17575b;
}


.calculator-box .calc_slider_text {
    float: left;
    font-weight: bold;
    font-size: 19px;
    line-height: 17px;
}

.calculator-box .calc_slider_value {
    float: right;
    font-weight: bold;
    font-size: 30px;
    line-height: 17px;
}

.calculator-box .calc_slider {
    margin-top:30px;
    margin-bottom:30px;
}




.calculator-box .age_value::after {
    content: " ĂŠves";
}



.calculator-box .age_text, .calculator-box .wage_text {
    float: left;
    font-weight: bold;
}

.calculator-box .age_value::after {
    content: " ĂŠves";
}

.calculator-box .wage_value::after {
    content: " Ft";
}

.calculator-box .age_value, .calculator-box .wage_value {
    float: right;
    font-weight: bold;
    font-size: 30px;
    line-height: 17px;
}

.result-box .wage_value, .result-box .pension_value {
    font-weight: bold;
    font-size: 19px;
}

.result-box .wage_value::after, .result-box .pension_value::after {
    content: " Ft";
}

.calculator-box #age_slider, .calculator-box #wage_slider {
    margin-top:30px;
    margin-bottom:30px;
}

.calculator-box .noUi-target {
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    background: rgb(245,130,33);
    background: -webkit-linear-gradient(left, rgba(245,130,33,1) 0%,rgba(239,182,27,1) 80%);
    background: linear-gradient(to right, rgba(245,130,33,1) 0%,rgba(239,182,27,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58221', endColorstr='#efb61b',GradientType=1 );
    border: none;
    box-shadow: none;
}

.calculator-box .noUi-horizontal {
    height: 14px;
}

.calculator-box .noUi-horizontal .noUi-handle {
    width: 45px;
    height: 45px;
    left: -17px;
    top: -15px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 2px 2px 8px #888888;
}

.calculator-box .noUi-horizontal .noUi-handle::after {
    display: none;
}

.calculator-box .noUi-horizontal .noUi-handle::before {
    display: none;
}
