/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

* {
    font-family: Roboto, sans-serif;
}



body, html {
	width: 100%;
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
	margin: 0;
	padding: 0;
}

.jumbotron{
    background-color: #d4eaef;
}

h1{
	font-weight: 200;
}
iframe{
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
}

.btn-sajat{
    background-color: #d1a254;
	color: white;
	border: 1px solid white;
    box-shadow:(1px 1px 1px #384233);
}

.tinymce-table-class table{
	display: none;
	border: none;
}
#csok-map{
	height: 300px;
}
#csok-map-big{
	width: 100%;
	height: 500px;
}

#hitel-kalk{
	height: 800px;
}
/*                        HEADER                         */


.navbar{
	text-transform: uppercase;

}
.navbar-user-name{
	white-space: nowrap;
}


.navbar a{
	color:#1D3557;
}

.cookie-show-eye{
    font-size: 20px;
}

.message-select-envelope{
    font-size: 20px;
}

.navbar-collapse{
	position: relative;
	bottom: -7px;
}

.navbar-favourites-container img{
	width: 44px;
	height: 44px;
}

.navbar-favourites-container{
	text-transform: none;
	max-width: 70vw;
	font-size: x-small;
}

.navbar-favourites-container .media{
	padding: 0 10px;
}

.navbar-favourites-container p{
    margin: 0;
    font-size: 10px;
}


.carousel img{
	flex-basis: 100%;
}

.carousel-caption{
    top: 100px;
}
.carousel-caption h1{
    padding: 20px 0;
    background-color: rgba(50, 85, 120, 0.5);

}

header{
	background-color: #FFF;
}


p {
	font-family: 'Roboto', sans-serif;
	}

.dropdown{
	margin-right: 10px;
}


.dropdown-menu li{
	white-space:nowrap;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 10px;
	color: #8e9687;
}

.dropdown-menu a{
	color: #457B9D;
}

.drop-shadow {
	-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}
.text-shadow{
	text-shadow: 1px 1px 1px #111111;
}

.drop-shadow-light {
	-webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, .5);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, .5);
}



/*
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    z-index: 10000;
}
*/

.search-container{
	flex-direction: row;
	position: relative;
}

.search-row{
	flex-direction: row;
}
.search-box{
	display: flex;
	position: relative;
	font-family: 'Roboto', sans-serif;
	bottom: 40px;
	padding: 15px 15px;
	margin: auto;
	background-color:rgba(25, 85, 120, 0.8);
	z-index: 1001;
}

.search-box label{
	font-size: 12px;
	color: rgb(255, 255, 255);
}

.search-box #area, #land_area, #price_min, #price_max{
	font-size: 10px;
	width: 80px;
}


#bottom-search{
	/* display: flex; */
	background-color:rgba(0,0,0,0.6);
	}

#bottom-search label{
	color:#fff;
	}

.admin-menu{
	margin-top: 100px;
	margin-bottom: 20px;
}

	/*                    SHOW OLDAL es BEMUTATO DOBOZ                 */

#ingatlanok-header h1{
	text-transform: uppercase;
}

.ingatlan-sor{
	margin-bottom: 30px;
}


.show-type-active{
	color: blue;
}
.show-new-price{
    justify-content: center;
}
.show-new-price h5{
	background-color: rgba(50, 85, 120, 1) ;
    white-space: nowrap;
    padding: 10px;
}
.show-new-header{
    padding: 0 5px;
}
.show-new-header h4{
    color: rgba(50, 85, 120, 1);
}

.show-new-short-text{
    color: rgba(50, 85, 120, 1);

}

.show-state-text{
	display: inline;
}

.show-new-adatok-tabla{
    line-height: 15px;
}
.show-new-adatok-tabla th{
    text-align: left;
}


.show-new-adatok-btn{
    background-color:rgba(50, 85, 120, 1) ;
}



.show-new-adatok-btn:hover{
    background-color:rgb(112, 144, 177) ;
    color: white;
}

.show_act_price{
    position: absolute;
    color: rgb(255, 0, 0);
    background-color: rgba(255, 255, 255, 0.589);
    font-size: x-large;
    text-decoration-line: line-through blink;
    -moz-text-decoration-line: line-through;
    top: 20px;
    left: 0;
    transform: rotate(-25deg) ;
}


.ingatlan-box{
	width: 320px;
	margin-right: 5px;
	margin-left: 5px;
}

.box{
	flex-basis: 100%;
}

.reklamok-container{
    display: flex;
    flex-flow: row wrap;
}

.reklamok-container .card{
    display: flex;
    display: block;
    min-width: 200px;
    max-width: 350px;
}
			/* Bemutato kockak fejlece */
.prop-header{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 5px;
	z-index: 1000;
	padding-left: 0;
	padding-right: 0;

}
.prop-header h5{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: rgba(25, 85, 110, 0.7);
}
.prop-header h4{
	text-transform: uppercase;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	color: #E63946;
	background-color: rgba(255, 255, 255, 0.849);
}


.prop-header a{
	color: #ffffff;
}

/*       New Header  */
.prop-header-new{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 20px;
	z-index: 1000;
	padding-left: 0;
	padding-right: 0;

}
.prop-header-new h5{
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: rgba(25, 85, 110, 0.7);
}

.prop-header-new h4{
	text-transform: uppercase;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	color: #E63946;
	background-color: rgba(255, 255, 255, 0.849);
}

.prop-header-new a{
	color: #ffffff;
}

.prop-header-alatt-bal{
	margin-left: 20px;
	padding: 5px 15px;
	font-weight: 700;
	font-size: x-small;
	text-transform: uppercase;
	color: #FFF;
	background-color: #E63946;
    overflow: hidden;
    white-space: nowrap;
}



.prop-header-alatt-jobb{
	margin-right: 20px;
	padding: 5px 15px;
	font-weight: 700;
	font-size: x-small;
	text-transform: uppercase;
	justify-content: right;
	color: #FFF;
	background-color: #E63946;
    overflow: hidden;
    white-space: nowrap;
}

.prop-header-alul-jobb{
	position: absolute;
	top: 155px;
	left: 5px;
	padding: 5px;
	font-weight: 700;
	font-size: x-small;
	text-transform: uppercase;
	color: #FFF;
	background-color: rgba(25, 85, 110, 0.7);
	overflow: hidden;
}





			/* Bemutato kockak eladas-berles kijelyese */

/* .prop-type-id{
	position: absolute;
	width: 100%;
	bottom: 5px;
	z-index: 1000;
	padding-left: 0;
	padding-right: 0;
}

.prop-type-id h5{
	text-transform: uppercase;
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #ff670f;
} */



			/* Bemutato kockak foto  */

.main-photo{
	padding-left: 0;
	padding-right: 0;
}


.main-photo img{
	min-height: 200px;
}

.main-details{
	font-size: small;
}

.main-price{

	padding-left: 0;
	padding-right: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFF;
	font-weight: 700;
	font-size: 20px;
	background-color: rgba(50, 85, 120, 1) ;


}
.card{
	line-height: normal;
}
.card-header{
	background-color: rgba(50, 85, 120, 1) ;
	color: white;
}

.card-header h4{
	color: white;
}
.kiskockak{
	white-space: nowrap;
}

.kiskockak span{
	font-size: x-small;
	white-space: nowrap;
}




/*                                                            */

/* .h-keret{
	border:thin solid #999;
	padding:5px;
	float:left;
	width:100%;
	margin:1px;
	} */

.h-media{
	float:left;
	}
.home-media-body{
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;

}

.home-media-text{
    font-size: x-small;
}

.home-place-left{
	font-weight: 700;
}


.h-text{
	float:left;
	padding:5px 20px;
	width:80%;
	}
#tabs li{
	padding: 0 10px 0 10px;
}
#map{
	height:400px;
	width: 100%;
	margin-bottom:10px;
	}
#uploads{
	height:200px;
	text-align:center;
	}
.output_image{
	max-height:50px;
	margin:3px;
	border: 1px solid black;
	border-radius: 4px;
	}
.first_image{
	max-width:600px;
	max-height:500px;
	border: 1px solid black;
	border-radius: 4px;
	}
#first_image_box{
	border:1px solid black;
	width:100%px;
}
#main_window{
	padding:10px;
	}
#fo_adatok{
	width:100%;
	margin:5px 0;
	}
.main_detail{
	padding:5px;
	border:0 0 0 1px solid gray;
	margin:10px;
	border-radius: 4px;
	}
.main_header_text{
	padding:5px;
	}
.image_wrap {
   position: relative;
   display:inline-block;
}

.image_wrap .glyphicon {
   position: absolute;
   top: 0px;
   right: 0px;
   cursor:pointer;
}

.btn-set-default{
    position: absolute;
    padding: 0 2px;
    top: 0px;
}

.show-new-save-favourite-btn{
    font-size: x-large;
    transition: 0.5s;

}
.show-new-save-favourite-btn:hover{
    transform: scale(1.1);
}

.save-favourite-container{
	display: inline-block;
}


.upl_image{
	width:80px;
	height:80px;
	margin:2px;
	display:inline-block;
	}
#act-on-upload{
	margin:10px;
	}
#filesarea{
	bottom:197px;
	width:800px;
	position:relative;
	}

.fotosorozat {
	display: flex;
	flex-direction: row;
	margin: 10px;
}
.photok_kijelzese{
	margin: 5px;
}

.photok-kijelzese-col{
	width: auto;

}
.form_delete{
	position: absolute;
	bottom:0;
	left: 15px;
}

.form_default{
	position: absolute;
	top: 0;
	left: 15px;
}

.btn-delete{
	padding: 0 2px;
}

.lapozas li{
	margin: 10px;
	font-size: small;
}

.blue-text a{
	color:blue;
	}

			/*      Index oldal       */


.index-adatok-tabla{
	font-size: small;
}

.index-adatok-tabla thead{
    background-color: rgba(50, 85, 120, 1);
    color: white;
}


.index-adatok-tabla th{
	text-transform: uppercase;
	padding-right: 10px;
	padding-left: 5px;
	max-width: 100px;
	font-size: 12px;
}

.index-adatok-tabla td{
	font-weight: 700;
	padding-left: 10px;
}


.index-adatok-tabla tbody th{
	text-align: end;
	background-color: rgb(194, 204, 212);

}

.index-price{
	text-align: center;
}


.index-price td{
	background-color: rgba(50, 85, 120, 1) ;
	white-space: nowrap;
}
.index-agent{
	line-height: 15px;
	margin-bottom: 20px;
}
.index-agent h5{
	font-size: medium;
}

.index-text p{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6em ;
	color: rgb(0, 0, 0);
}

.index-text h1{
	font-family: Roboto, sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: black;
}

.index-stars{
	white-space: nowrap;
	color: tomato !important;
}


.index-header-sor th{
	text-align: center !important;
}
.index_mutato{
	font-size: medium;
	white-space: nowrap;
}

#messenger-header{
    background-color: #335578;
    color: white;
}

#messenger-header .close{
    color: white;
}

#messenger-body{
    background-color: rgb(125, 147, 169);
    padding: 10px;
    color: white;
}

.message-container textarea{
    outline: none;
    border: none;
}


.message-container h4{
    margin: 10px 0;
    padding: 0;
    font-weight: 700;
}
.message-container p{
    line-height: normal;
    padding: 0 10px;
    margin: 0;
    font-size: small;
    font-weight: 200;
}

.message-container-form{
    padding: 10px;
}

.message-btn{
    background-color: rgba(50, 85, 120, 1);
    color: white;

}

.message-btn:hover{
    transform: scale(0.9);
    color: white;
}

            /*         Footer         */

footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }




 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}


 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}


 @media screen and (max-width: 992px) {
     body{
         padding-top: 100px;
     }

    .search-box{
        bottom: 0px;
        margin-bottom: 20px;
    }

    .home-container-row{
        justify-content: center;
    }


}
@media screen and (min-width: 1375px ) {
    .prop-header-alul-jobb{
        top: 200px;
    }
}
@media screen and (min-width: 1675px ) {
    .prop-header-alul-jobb{
        top: 250px;
    }
}

@media screen and (max-width: 575px ) {
    .prop-header-alul-jobb{
        top: 240px;
    }
}
